<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager">
            <section name="TcpUdpTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TcpUdpTool.Properties.Settings>
            <setting name="Encoding" serializeAs="String">
                <value>65001</value>
            </setting>
            <setting name="IPv6Support" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HistoryEntries" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HistoryInfoTimestamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HistoryInfoIpAdress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrollToEnd" serializeAs="String">
                <value>True</value>
            </setting>
        </TcpUdpTool.Properties.Settings>
    </userSettings>
</configuration>
